.news-container {
    max-height: 500px;
    overflow-y: auto;
}

.bg-image {
    background-image: url(img/encabezado.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    text-align: center;
    color: rgb(0, 0, 0);

}

.highlight-text {
    display: inline;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0 10px;
    font-weight: bolder;
    font-size: 3rem;
}


.btn-primary {
    background-color: rgb(154, 110, 236);
}

.news-description {
    text-align: justify;
}

.event-description {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.circle-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-container img {
    width: 100%;
    height: auto;
}

.historico {
    background-color: #000000; /* Color de fondo para resaltar */
    color: #fff; /* Color de texto */
    font-weight: bold; /* Texto en negrita */
  }
